<div class="min-h-screen bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full sm:w-96" data-aos="fade-up">
      <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Login</h2>
      <form (ngSubmit)="login()">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
          <input id="email" type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" class="w-full p-3 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
        </div>
  
        <div class="mb-6 relative">
          <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
          <input id="password" [(ngModel)]="password" name="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter your password" class="w-full p-3 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
          <button type="button" (click)="togglePasswordVisibility()" class="absolute right-3 top-1/2 transform -translate-y-1/2">
            <!-- Eye icon for showing password -->
            <svg *ngIf="!isPasswordVisible" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600">
              <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/>
            </svg>
            <svg *ngIf="isPasswordVisible" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600">
              <path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/>
            </svg>
          </button>
        </div>
  
        <button type="submit" class="w-full bg-indigo-600 text-white py-3 rounded-lg hover:bg-indigo-700 transition-all">Login</button>
      </form>
  
      <div class="mt-4 text-center" (click)="navigateToForgotPass()">
        <a class="text-indigo-600 text-sm hover:underline">Forgot your password?</a>
      </div>
  
      <div class="mt-4 text-center" (click)="navigateToRegister()">
        <p class="text-sm">Don't have an account? <a class="text-indigo-600 hover:underline">Sign up</a></p>
      </div>
    </div>
  </div>
  